<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  <body>
        {% if contents %}
        <a href="/">❮ Back</a>
          {{contents|safe}}
        {% else %}
        <ul>
          {% for doc in collections.docs %}
            <li><a href="/{{ doc.path }}">{{ doc.title }}</a></li>
          {% endfor %}
        </ul>
        {% endif %}

      <script src="http://localhost:35729/livereload.js"></script>
  </body>
</html>
